*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited,
a:active,
a:hover {
  color: $primary-text;
  text-decoration: none;
}

html,
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  line-height: 1.3;
  font-size: 14px;
  font-family: 'Oxygen-Sans', Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: $grey-600;
  background: $base-bg;
}

.card {
  background: $white;
  color: $grey-600;
  &-rounded {
    border-radius: 0.3125rem;
  }

  .card-header {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-border;
  }
}
.gradient-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.0018382352941176405) 0%,
    rgba(119, 123, 125, 0.7917542016806722) 30%,
    rgba(125, 225, 255, 0.8113620448179272) 58%,
    rgba(137, 137, 140, 0.8253676470588236) 78%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-bg-up {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(117, 116, 116, 0.275) 100%
  );
}

.input-group {
  width: 100%;
  height: 2.5rem;
  > label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $brand-primary;
    text-transform: capitalize;
    font-weight: bold;
  }
  > input[type='text'] {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 0.3125rem;
    background: transparentize($border-light, 0.125);
    &:focus {
      outline-color: $brand-primary;
    }
  }
}
