// Primary colors
// $brand-primary: rgba(82, 177, 51, 0.842);
// $primary-light: rgb(190, 230, 176);
$primary-text: rgb(88, 91, 108);
// $primary-text: rgb(3, 27, 78);
$primary-bg: rgb(10, 26, 61);
$border-light: rgba(182, 180, 180, 0.315);
$base-bg: rgb(255, 255, 255);
// $base-bg: rgb(240, 241, 243);
$brand-primary: rgba(67, 161, 238, 0.842);
$primary-light: rgb(176, 208, 230, 0.315);
$primary-accent: rgb(172, 213, 240);
// Shades
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
//  Greys
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-100-alpha: rgba(0, 0, 0, 0.0375);
$grey-200: rgb(238, 238, 238);
$grey-200-alpha: rgba(0, 0, 0, 0.0625);
$grey-300: rgb(224, 224, 224);
$grey-300-alpha: rgba(0, 0, 0, 0.125);
$grey-400: rgb(189, 189, 189);
$grey-400-alpha: rgba(0, 0, 0, 0.25);
$grey-500: rgb(158, 158, 158);
$grey-500-alpha: rgba(0, 0, 0, 0.375);
$grey-600: rgb(117, 117, 117);
$grey-600-alpha: rgba(0, 0, 0, 0.55);
$grey-700: rgb(97, 97, 97);
$grey-700-alpha: rgba(0, 0, 0, 0.625);
$grey-800: #424242;
$grey-800-alpha: rgba(0, 0, 0, 0.75);
$grey-900: rgb(33, 33, 33);
$grey-900-alpha: rgba(0, 0, 0, 0.875);
// More shit colors
$brand-success: #4285f4;
$brand-info: #4285f4;
$brand-warning: #fbbc05;
$brand-danger: #ea4335;
$light-border: rgba(209, 206, 206, 0.863);
