.heading {
  text-transform: capitalize;
  font-weight: 600;
  &-app {
    position: relative;
    color: $primary-text;
    &::after {
      content: '';
      position: absolute;
      height: 0.1875rem;
      background-color: $brand-primary;
      border-radius: 0.125rem;
      bottom: -0.625rem;
      left: 0;
      width: 50%;
    }
  }
}
