$font-sm: 0.75rem;
$font-med: 0.875rem;
$font-lrg: 1.125.875rem;

// Padding sizes
$full-padding: 1rem;
$half-padding: 0.5rem;

// Border Radius
$sm-round: 0.1875rem;
$md-round: 0.3125rem;
$lg-round: 0.875rem;
